doctype html
html
  head
    title= "Hivy Lite"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#mainWrapper
        h1 Hivy Lite
        block content
    script(type="application/javascript", src="/plugins/react/react.js")
    script(type="application/javascript", src="/plugins/react-dom/react-dom.js")
    script(type="application/javascript", src="/plugins/redux/redux.js")
    script(type="application/javascript", src="/plugins/react-redux/react-redux.js")
    block extra-script
